 
	<table>
	<tr>
	  <td>
	  	<div>
        {{#each questions}}
	  		<p>{{id}} - {{question}}/p>
	    	<ul>
	    	<input class="answer" type="radio">
	        <label>{{answers[0]content}}</label>
	    	<br>
	        <input class="answer" type="radio">
	        <label>{{answers[1]content}}</label>
	        <br>
	        <input class="answer" type="radio">
	        <label>{{answers[2]content}}</label>
	        <br>
	        <input class="answer" type="radio">
	        <label>{{answers[3]content}}</label>
    		</ul>
        {{/each}}
	  	</div>
	  </td>

    {{>quizbutton}}
	